.link {
    color: var(--inverted-bg-color);
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    text-decoration: none;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(----secondary-color);
}