.btn {
    padding: 20px;
    background-color: lightblue;
    color: white;
    border: 2px solid rgb(29, 141, 247);
    border-radius: 8px;
    cursor: pointer;
}

.btn:active {
    background-color: rgb(87, 184, 216);
}